version: "3.9"

services:
  app:
    build: .
    ports:
      - "8501:8501"
    depends_on:
      - postgres
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: quake
      POSTGRES_USER: quake
      POSTGRES_PASSWORD: quake

  postgres:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: quake
      POSTGRES_USER: quake
      POSTGRES_PASSWORD: quake
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
